[submodule "src/putm_controller"]
	path = src/putm_controller
	url = git@github.com:PUT-Motorsport/putm_controller.git
[submodule "src/putm_vcl"]
	path = src/putm_vcl
	url = git@github.com:PUT-Motorsport/putm_vcl.git
[submodule "src/ros2_xsens_mti_driver"]
	path = src/ros2_xsens_mti_driver
	url = https://github.com/DEMCON/ros2_xsens_mti_driver.git
